/* Styling for Home Page*/
#homePageBannerImg{
    width: 100%;
}
/* banner styling */
#homepageBanner-desktop{
    align-items: center;
    background-image: url("../images/homePageBanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
}
/* main button*/
#shopNowButton{
    background-color: #a2a2a2;
    border: none;
    border-radius: 6px;
    color: #fff;
    height: 4rem;
    font-weight: 700;
    font-size: 2rem;
    width: 18rem;
}
#shopNowButton:hover{
    background-color: #c16e80;
}
/* main content */
article{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
/* horizontally justifies content */
#homepageContent{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* main image positioned left */
#imageContainer{
    display: flex;
    height: auto;
    justify-content: flex-end;
    margin-right: 2rem;
    width: 50%;
}
#homepageImage{
    width: 60%;
}
/* written content left of container */
#homepageVerbageContainer{
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    width: 50%;
}
#homePageTitle {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}
#positionContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
}